body {
    background-color: #3A7734;
}

.road {
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;
    background-color: #292929;
    overflow: hidden;
    border: red 1px solid;
}

.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background: rgba(255, 255, 255, 0.5);
    border: yellow 1px solid;
}

#line-1{
    top: -150px;
    border: white 1px solid;
}

#line-2{
    top: 150px;
    border: white 1px solid;
}

#line-3{
    top: 450px;
    border: white 1px solid;
}

#player {
    /*background: url("/static/img/red_car.png");*/
    position: absolute;
    background: url('/static/img/red_car.png');
    background-position: center;
    margin-left: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 70vh;
    border: white 1px solid;
}


.car{
    position: absolute;
    height: 15vh;
    width: 5vw;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
    border: brown 1px solid;
}