body {
    background-color: #3A7734;
}

#road {
    position: relative;
    height: 600px;
    width: 300px;
    left: 35%;
    margin-top: 20px;
    background-color: #292929;
    /*overflow: hidden;*/
    /*border: red 1px solid;*/
}

.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background: rgba(255, 255, 255, 0.5);
    /*border: yellow 1px solid;*/
}

#line-1{
    top: -150px;
    /*border: white 1px solid;*/
}

#line-2{
    top: 150px;
    /*border: white 1px solid;*/
}

#line-3{
    top: 450px;
    /*border: white 1px solid;*/
}

#player {
    position: absolute;
    background: url('/static/img/red_car.png');
    background-position: center;
    left: 63%;
    background-size: 100%;
    margin-top: 450px;
    /*border: white 1px solid;*/
}

.car{
    position: absolute;
    height: 100px;
    width: 70px;
    border-radius: 5px;
    /*box-shadow: 0px 1px 8px 0px black;*/
    /*border: brown 1px solid;*/
}

#car-1{
    position: absolute;
    background: url('/static/img/red_car.png');
    background-position: center;
    background-size: 100%;
    top: 0px;
    left: 38%;
    background-color: #292929;
}
#car-2{
    position: absolute;
    background: url('/static/img/red_car.png');
    background-position: center;
    background-size: 100%;
    top: -200px;
    left: 63%;
    background-color: #292929;
}
#car-3{
    position: absolute;
    background: url('/static/img/red_car.png');
    background-position: center;
    background-size: 100%;
    top: -350px;
    left: 13%;
    background-color: #292929;
}

#score_div{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}