<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Racer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
{{ player_name }}
<div class="road">
    <div id="line_1" class="line"></div>
    <div id="line_2" class="line"></div>
    <div id="line_3" class="line"></div>

    <div class="player_car"></div>
</div>


</body>
</html>