<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Racer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
    <div id="score-div">
        <h3>TRAFFIC RACER</h3><br>
        <p id="help">Controls: Right, Left, Up & Down arrow keys.</p><br>
        <p>Hello {{ player_name }}</p>
        Score: <span id="score">0</span>
        High Score: <span id="high-score"></span><br>
        <button id="restart">
            START<br>
            <small class="small-text">(press Enter)</small>
        </button>
    </div>
    <div id="road">
        <div id="line-1" class="line"></div>
        <div id="line-2" class="line"></div>
        <div id="line-3" class="line"></div>

        <div id="player" class="car"></div>
        <div id="car-1" class="car"></div>
        <div id="car-2" class="car"></div>
        <div id="car-3" class="car"></div>
    </div>
<audio id="audio" src="/static/sound/carCrash.mp3" type="audio/mpg"></audio>
</body>
</html>