<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Racer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
<div id="player-name"> {{ player_name }} </div>
<div id="score-div">
    <p class="labels">Score: <span id="score">0</span> High Score: <span id="high-score">0</span></p>
{#    <p class="labels">High Score:</p> <span id="high-score">0</span>#}
</div>
<div id="road">
    <div id="line-1" class="line"></div>
    <div id="line-2" class="line"></div>
    <div id="line-3" class="line"></div>

    <div id="player" class="car"></div>
    <div id="car-1" class="car"></div>
    <div id="car-2" class="car"></div>
    <div id="car-3" class="car"></div>
</div>
<div id="restart-div">
    <button id="restart">
        Restart<br>
    </button>
</div>


</body>
</html>